container_commands:
01_migrate:
command: "source /var/app/venv/*/bin/activate ; python manage.py migrate"
02_compilemessages:
command: "django-admin.py compilemessages"
03_createsu:
command: "django-admin.py createus"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
  aws:elasticbeanstalk:environment:
    LoadBalancerType: network