container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate"
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate ; cd /var/app/staging && python manage.py collectstatic --noinput"
  03_createsu:
    command: "django-admin createsu"
leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings